.nav-item {
    font-size: 1.5rem;
    padding: 0.2rem;
}

ul li a {
    border-bottom: 2px blue solid;
    padding-bottom: 0;
    margin-bottom: 0;
}

ul li a p {
    font-size: 1rem;
    color: #0d3ab3;
    padding-bottom: 0;
    margin-bottom: 0;
}

.btn {
    background-color: #0d3ab3;
    color: white;
    letter-spacing: 0.2rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.login-btn {
    border-bottom: 0;
}


.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #eee;
    border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
    text-align:center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.colorgraph {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
}